---
title: Index
pagination:
  data: collections.all
  size: 2
  alias: posts
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <h1>
        <a href="{{ page.url }}">{{ title }}</a>
      </h1>
    </header>
    {%- for post in posts %}
    <article>
      <header>
        <h2>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </h2>
      </header>
      {{ post.content }}
      <footer>
        <time datetime="{{ post.date | toISOString }}">{{ post.date | toLocaleString }}</time>
      </footer>
    </article>
    {% endfor %}
    <footer>
      <nav>
        {%- if pagination.href.previous %}
        <a class="previous" href="{{ pagination.href.previous }}">前</a>
        {%- endif %}
        {%- if pagination.href.next %}
        <a class="next" href="{{ pagination.href.next }}">次</a>
        {%- endif %}
      </nav>
    </footer>
  </body>
</html>