---
title: Index
lang: ja
pagination:
  data: collections.all
  size: 2
  alias: posts
---

<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>
      <a href="{{ page.url }}">{{ title }}</a>
    </h1>
    {%- for post in posts %}
    <article lang="{{ post.data.lang }}">
      <h2>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h2>
      <div>{{ post.content }}</div>
    </article>
    {% endfor %}
    <footer>
      {%- if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}">←</a>
      {%- endif %}
      {%- if pagination.href.next %}
      <a href="{{ pagination.href.next }}">→</a>
      {%- endif %}
    </footer>
  </body>
</html>