---
layout: base.liquid
---

{% assign previousPost = collections.post | getPreviousCollectionItem: page %}
{% assign nextPost = collections.post | getNextCollectionItem: page %}

<main>
  <article>
    <header>
      <h1>
        {% if title %}
          {{ title }}
        {% else %}
          {{ page.date | toShortLocaleString }}
        {% endif %}
      </h1>
    </header>
    <pre>{{ content | raw }}</pre>
    <footer>
      <time datetime="{{ page.date | toISOString }}">{{ page.date | toLocaleString }}</time>
    </footer>
  </article>
</main>

<footer>
  <nav>
    {% if previousPost %}
    <span class="previous">
      <a href="{{ previousPost.url }}">
        {% if previousPost.data.title %}
          {{ previousPost.data.title }}
        {% else %}
          {{ previousPost.date | toShortLocaleString }}
        {% endif %}
      </a>
    </span>
    {% endif %}

    {% if nextPost %}
    <span class="next">
      <a href="{{ nextPost.url }}">
        {% if nextPost.data.title %}
          {{ nextPost.data.title }}
        {% else %}
          {{ nextPost.date | toShortLocaleString }}
        {% endif %}
      </a>
    </span>
    {% endif %}
    
    <a class="up" href="{{ up.url }}">{{ up.title }}</a>
  </nav>
</footer>
