---
tags: post
---

{%- assign previousPost = collections.post | getPreviousCollectionItem: page -%}
{%- assign nextPost = collections.post | getNextCollectionItem: page -%}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
  </head>
  <body>
    <article>
      <header>
        <h1>
          <a href="{{ page.url }}">{{ title }}</a>
        </h1>
      </header>
      {{ content | raw }}
      <footer>
        <time datetime="{{ page.date | toISOString }}">{{ page.date | toLocaleString }}</time>
      </footer>
    </article>
    <footer>
      <nav>
        {%- if previousPost %}
        <span class="previous">前：<a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></span>
        {%- endif -%}
        {%- if nextPost %}
        <span class="next">次：<a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></span>
        {%- endif %}
        <a class="up" href="/">Index</a>
      </nav>
    </footer>
  </body>
</html>
